
{% extends 'base.html' %}

{% block  title %} About {% endblock %}

{% block content %}
    <h5> Esta es una página con fines educativos </h5>
    <p> Soy Técnico en Logística y Técnico en gestión de empresas. 
        Me encuentro aprendiendo a programar para brindarme más herramientas a la hora de desarrollar mis actividades y tareas como profesional.
        Actualmente me encuentro  trabajando como Operador Logístico en distribución de combustibles con 24 camiones y 30 choferes a cargo. </p>
        <br>
    <p>Este sitio está desarrollado con fines educativos exclusivamente</p>

{% endblock %}